<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="static/css/contact.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="/home">Home</a>
            <a href="featured">Featured</a>
            <a href="acheivements">Achievements</a>
            <a href="skills">Skills</a>
            <a href="experience">Experience</a>
            <a href="contact">Contact</a>
        </div>

        <div class="location">
            <img src="static/images/loc-icon.jpg", width="50", height="50"> &nbsp; Pune, Maharashtra, India
        </div>

        <div class="mobile">
            <button id="mobile">
                <a href="tel:+91 9403136835">Mobile Number</a>
            </button>
            
        </div>

        <div class="email">
            <button id="email">
                <a href="mailto:aa.chandavale@gmail.com">Email</a>
            </button>
        </div>
    </body>

</html>