<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="static/css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/home">Home</a>
            <a href="featured">Featured</a>
            <a href="acheivements">Achievements</a>
            <a href="skills">Skills</a>
            <a href="experience">Experience</a>
            <a href="contact">Contact</a>
        </div>

        <div class="subHead">
            <h3>print("Hello, World")</h3>
        </div><br><br><br><br>
        <div class="title">
            <h1><b>Aditya Ajay Chandavale</b></h1>
        </div><br>
        <div class="subTitle">
            | &nbsp; Software Developer &nbsp; | &nbsp; Machine Learning Enthusiast &nbsp; |
        </div>
        
    </body>
</html>