<!DOCTYPE html>
<html>
    <head>
        <title>Skills</title>
        <link rel="stylesheet" href="static/css/skills.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="/home">Home</a>
            <a href="featured">Featured</a>
            <a href="acheivements">Achievements</a>
            <a href="skills">Skills</a>
            <a href="experience">Experience</a>
            <a href="contact">Contact</a>
        </div>
    </body>

</html>